/* Сброс стилей и box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background-color: #f4f4f4;
    min-height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/

}

/* Логотип */
.logo {
    margin-bottom: 20px; /* Отступ между логотипом и формой */
}

.logo img {
    width: 600px; /* Размер логотипа */
    height: auto; /* Сохраняем пропорции */
}


/* Контейнер для логотипа и формы */
.login-wrapper {
    text-align: center;
    margin-top: 16vh;
}


.login-container {
    /*padding: 20px;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    width: 300px;
    text-align: center;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #CBBAED;
    color: #000;
    border: 0 solid #ccc;
    border-radius: 10px;
}

input::placeholder {
    color: #00000099;
}

button{
    /*width: 100%;*/
    padding: 15px 20px;
    background-color: #CBBAED;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
}

button:hover {
    background-color: #AC97D5;
    /*color: #CBBAED;*/
}

.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}